body{
    margin-top: 100px; 
    background-color: #707B7C;
    color: #fff;
}

.game-board{
    max-width: 450px;
    margin: 0 auto;
}

.total-wins{
    font-size: 1.2em;
    font-weight: bold;
	color: #000;
}

.panel-default > .panel-heading {
  background-color: #c0c0c0;
}

#result{
    font-size: 2em;
}